/* Coolors Exported Palette */

// Coolors give color schemes of 5 colours
// The colours below are a complimentary combination of two 5-colour schemes

/* RGB */
$color1: rgba(1, 38, 34, 1);
$color2: rgba(84, 13, 110, 1);
$color3: rgba(2, 103, 193, 1);
$color4: rgba(242, 100, 25, 1);
$color5: rgba(158, 0, 49, 1);
$color6: rgba(115, 104, 59, 1);
$color7: rgba(219, 84, 97, 1);
$color8: rgba(134, 147, 171, 1);
$color9: rgba(135, 64, 0, 1);
$color10: rgba(90, 53, 42, 1);
