/*General rules*/

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}

button, select {
  font-size: 1.0em;
  background-color: #fff;
  color: #000;
  border: 1px solid #444;
  text-shadow: 1px 0px #eee;
  border-radius: 2px;
  height: 35px;
}
.btn {
  outline: none;
}
.btn:hover {
  background-color: #CECC15;
  color: white;
  cursor: pointer;
}

/* Disabled */
.btn:disabled, .btn:disabled:hover {
  background-color: rgba(255,255,255,0.5);
  color: white;
  cursor: default;
}

h1 {
    margin: 0.1em;
}

/*Header, selection source and toggle button*/

.full-width {
  width: 100%;
  min-height: 50px;
}

.position__fixed {
  width: 100%;
  position: fixed;
  z-index: 999;
}

.position__top {
  top: 0;
}

.position__bottom {
  bottom: 0;
}

.main-container {
  padding-top: 50px;
  margin-top: 0;
}

.align__center {
  margin: 0 auto;
  text-align: center;
  display: block;
}

#banner, #toggle-analysis {
  padding: 10px 0;
  margin: 0;
  min-height: 30px;
  background-color: rgb(10,10,10);
  color: #fff;
}

.source-selection {
  min-height: 160px;
  padding: 20px 0px;
  background-color: #CECC15;
  border-bottom: 1px solid #bab812;
  margin-top: 0;
}

.source-selection__label {
  font-size: 0.75em;
  color: #3a3a04;
  letter-spacing: 0.1em;
}

.source-selection__dropdown {
  min-width: 120px;
}

.source-selection__logo {
  width: 20%;
  display: block;
  margin-top: 0.5em;
  border-radius: 5px;
}

/* Headline articles */

.headline {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: -1px 4px 19px -5px rgba(189,189,189,0.51);
  margin: 3% auto;
  padding: 1%;
  width: 90%;
}

.headline__image {
  max-width: 16%;
  position: relative;
  top: 4px;
}

.headline__title {
  display: inline-block;
  font-size: 1.1em;
  vertical-align: top;
  width: 80%;
  margin: 0;
  padding-left: 0.5em;
  padding-top: 0;
}

.headline__details {
  display: none;
  margin: 0.5em 0;
}

.headline__details__link {
  text-decoration: none;
}

@media (min-width: 600px) {
  .headline {
    max-width: 50%;
  }

  .headline__details {
    display: block;
  }
}

@media (min-width: 1000px) {

  body {
    padding-bottom: 100px;
  }

  #headlines {
    column-count: 2;
  }

  .source-selection__logo {
    width: 10%;
  }

  .headline {
    max-width: 80%;
    break-inside: avoid-column;
  }
}
